@import "~bootstrap/dist/css/bootstrap.css";

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
      background: #eaebec;
    color: #393c45;
  }

$red: #ff715b;
$green: #48cfad;
$blue: #0197F6;